In [3]:
# import packages

import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('../mock_resq.db')
cursor = conn.cursor()

In [6]:
createViewQuery = """
CREATE view presentation_table AS
SELECT orders.*, strftime('%Y-%m', createdAt) AS month, strftime('%Y', users.registeredDate) AS registeredYear, providers.defaultOfferType 
FROM orders INNER JOIN users ON orders.userId = users.id INNER JOIN providers ON orders.providerId = providers.id; 
"""

In [7]:
cursor.executescript(createViewQuery)

In [8]:
results = cursor.fetchall()

In [10]:
conn.commit()
conn.close()

In [12]:
conn = sqlite3.connect('../mock_resq.db')
cursor = conn.cursor()

In [13]:
query_presentation_table = "SELECT * FROM presentation_table"
presentation_table = pd.read_sql_query(query_presentation_table, conn)

In [14]:
presentation_table.head()

,id,createdAt,userId,quantity,refunded,currency,sales,providerId,month,registeredYear,defaultOfferType
0,4648711062057701806,2023-08-31 10:14:49,833181563296211638,2,0,eur,1000,3518867990385707647,2023-08,2019,meal
1,1676056141507951956,2023-03-21 17:04:54,7763311846463275691,1,0,eur,400,6413422964860176913,2023-03,2020,meal
2,7745602867536251060,2023-07-19 09:48:28,8919282109171104948,2,0,eur,680,123356649204044788,2023-07,2021,snack
3,7319989469562109720,2023-08-10 12:29:01,5785370845306063462,1,0,eur,1099,7268869293921836511,2023-08,2020,meal
4,8979946097528312402,2022-10-03 09:55:15,8918527236425591239,1,0,eur,200,7530970657789428790,2022-10,2018,snack